<div id="carouseltop" class="carousel slide" data-ride="carousel" data-interval="20000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" id="slide1">
      <div class="slidebg" id="slidebg-1">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-8 col-xs-10 col-sm-10" style="margin:auto">
          <p class="carousel-title">Okna BB line </p>
          <p></p>
          <button class="btn btn-danger carousel-button">Więcej informacji</button>
        </div>
        <div class="col-md-1" style="margin:auto">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slidebg">
        <div class="col-md-1">

        </div>
        <div class="col-md-6" style="margin:auto">
          <p class="carousel-title">Quantix... jeszcze więcej światła</p>
          <p></p>
          <button class="btn btn-danger carousel-button">Dowiedz się więcej</button>

        </div>
        <div class="col-md-4"  id="slidebg-2"></div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slidebg">
        <div class="col-md-1"></div>
        <div class="col-md-6" style="margin:auto">
          <p class="carousel-title">Okna rolety, drzwi i brama garażowa w tym samym kolorze</p>
          <p></p>
          <p class="carousel-text">Zależy  ci na spójnym wyglądzie okien, rolet, drzwi i bramy garażowej? W XXX możesz tworzyć zestawy produktów w jednym modnym kolorze, np. DB703</p>
          <button class="btn btn-danger carousel-button">Dowiedz się więcej</button>

        </div>
        <div class="col-md-3" id="slidebg-3" style="height:300px">


        </div>
        <div class="col-md-1">

        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouseltop" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouseltop" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
