a{
  color:#555;
}

p{
    text-align:justify;
}

h1{
    font-size:1.8em;
}

.bg-light{
  background: linear-gradient(to bottom, rgba(251,252,253,1) 0%,rgba(233,238,241,1) 26%,rgba(233,238,241,1) 26%,rgba(244,246,248,1) 76%,rgba(247,251,253,1) 100%);
}

.container{
  /* padding-right: 0px !important;
  padding-left: 0px !important; */
}

.topicon{
  font-size:5rem;
}

.topdiv{
  text-align:center;
  padding:15px;

}

.topsection {
  overflow: hidden !important;
   display: inline-block !important;
}
.topsection:hover .toptext {
  text-decoration:none !important;
    color: #dc3545 !important;
}

.topsection:hover .topicon {
  text-decoration:none !important;
    color: #dc3545 !important;
}

.topsection:hover .mysvg {
  fill:red;
  text-decoration:none !important;
    color: #dc3545 !important;
}


.mysvg{
  height:80px;
  width:80px;
  fill:#555;
}

.topsectionimg{
  width:200px;
  height:200px;
  opacity:0;
  display: block;
 position: absolute;
 top: 50%;
 left: 50%;
 min-height: 100%;
 min-width: 100%;
 transform: translate(-50%, -50%);
 transition: 0.3s;
}

.topsectionimg:hover{
  opacity:1;
}

@media (min-width: 992px) {
    .widemargin{
        padding-left:50px;
        padding-right:50px;
        /* margin:0px; */
    }
  .navbar-expand-md {
      /* padding:0px;
      margin:0px; */
      /* background:white; */
  }
