.topsection2 .col-md-4{
  display:flex;
  /* justify-content: center; */
  align-items:center;
  padding:40px;
}

.tp-2-2{
  background:rgba(240,240,240,0.6);
  border-right:1px black solid;
  border-style:dotted;
}
.tp-2-2 .tag{
font-size:1.2em;
}

.tp-2-2 .title{
font-size:1.2em;
font-weight:bold;
}

.tp-2-2 .text{

}
