<div class="col-md-4 tp2-1">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <p class="quote"><i class="fas fa-quote-right"></i></p>
      <div class="carousel-item active">
        <p class="text"><?= $slides[0]->text ?> </p>
        <p class="caption"><?= $slides[0]->caption ?></p>
      </div>
      <div class="carousel-item">
        <p class="text"><?= $slides[1]->text ?> </p>
        <p class="caption"><?= $slides[1]->caption ?></p>

      </div>
      <div class="carousel-item">
        <p class="text"><?= $slides[2]->text ?> </p>
        <p class="caption"><?= $slides[2]->caption ?></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
