.bg-light {
   background-image: linear-gradient(to bottom right, #fffffa ,#e0e0e0 );  // Safari 5.1-6, Chrome 10+
   background-repeat: repeat-x;
   box-shadow: 2px 2px 2px 0px rgba(143,143,143,1);
}
#obrazekmenu{
    width:200px;

}
/*
.dropdown-menu{
    opacity:0.2;
    transition:1s;
}

.dropdown-item{
    opacity:0.2;
    transition:1s;
}

.dropdown-item:hover{
    opacity:1;
    transition:1s;
}

.dropdown-menu:hover{
    opacity:1;
    transition:1s;
}


.dupa{
    width:500px;
    opacity:0.2;
    height:100px;
    background:black;
    transition:1s;
} */
/*
.dupa:hover{
    opacity:1;
} */
