#mid{
  background:#222;
  height:400px;
  color:white !important;
}

.midicons {
  display:flex;
  justify-content: center;
  padding:5px;
font-size:5rem;
flex-wrap:wrap;
overflow:hidden;

}

.midicons p {
  margin:auto;
}


.midicons i {
  margin:auto;
}





.iwrapper{
  height:100px;
  width:100px;
}
.midicons .title{
  font-size:1.4rem;
}
