p{
  text-align: justify;
}


#news, #carouseltop, #top, #top2,#mid1,#mid2,#realizations{
  opacity:0.1;
  transition:0.7s;
  margin-top:100px;
}

h1{
  font-size:1.75rem;
  letter-spacing:5px;
}

h3{
  font-size:1.2rem;
}
