#top{
  padding-top:1rem;
  background:#222;
  color:white !important;
}

#top i{
font-size:5rem;
/* display:inline-block; */
}
#top .h-initial{
  font-size:2.2rem;
}

#top .col{
  padding:15px;
}
#top2{
  padding-top:1rem;
}

#mid1{
  padding-top:1rem;
}

#wicon {
font-size:3rem;
color:var(--gray);
bottom:10px;
position:relative;
}

#wicon-bt{
  padding-right:0.2em;

}


#m1{
padding:30px;
padding-top:10px;
}

.btn-mylight{
  background-color: rgba(200,200,200,0.8) !important;
  color:var(--gray-dark);
  
}

.btn-mylight:hover{
  background-color: #999!important;
  color:black;
}
